streamlit
pandas
numpy
yfinance
pyotp
requests
smartapi-python
supabase
streamlit-lightweight-charts
xlsxwriter
feedparser
vaderSentiment
textblob
pandas_ta
kiteconnect
mt5linux
plyer
flask
scikit-learn
logzero
websocket
fyers_apiv3



















