streamlit
pandas
numpy
pandas_ta
smartapi-python
pyotp
requests
logzero
websocket-client
scipy
nsepython
nsetools
yfinance
lxml
cryptography
python-dotenv
pyarrow
plotly
streamlit-lightweight-charts
plyer
XlsxWriter
supabase
kiteconnect
Flask












